{
  "presets": [
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "constants": "./lib/constants",
          "context": "./lib/context",
          "hooks": "./lib/hooks",
          "mutations": "./lib/mutations"
        }
      }
    ]
  ]
}
